{% extends 'base.html' %}

{% block titulo %} LISTAGEM DE PRODUTOS {% endblock %}

{% block menu %}
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
{% endblock %}

{% block principal %}

  <div class="row">
    <div class="col">

    </div>

    <div class="col-6">
        <h3>Lista de Produtos</h3>
         <ul class="list-group">
            {% for prod in lst_prod %}
                <!-- ANTES -->
                <!--li> {{ prod.descricao }} </li-->
                <!-- DEPOIS 05:50 -->
                <li class="list-group-item">
                    <a href="{% url 'prod_upd' prod.id_produto %}">{{ prod.descricao }} </a>
                    <a href="{% url 'prod_del' prod.id_produto %}" class="trash-item">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>

     </br>

     <a href="{% url 'prod_new' %}" class="btn btn-primary">NOVO PRODUTO</a>

    </div>
    <div class="col">

    </div>

  </div>

{% endblock %}



{% block footer %}

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Everton Godoy - Desenv Django Web Django 2.0</span>
        </div>
    </footer>

{% endblock %}